.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.searchContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}

.img {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
